﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>


    @*<form asp-action="Index" asp-controller="Home" data-ajax="true" data-ajax-update="#gender" method="post">*@

    <fieldset>
        <label>Nachname</label>
        <br />
        <input type="text" name="name" />
        <br />
        <label>Vorname</label>
        <br />
        <input type="text" name="vorname" id="vorname" />
        <br />
        <label>Gender</label>
        <br />
        <p id="gender"></p>
        <label>Strasse</label>
        <br />
        <input type="text" name="strasse" id="street"/>
        <br />
        <label>Postleitzahl </label>
        <br />
        <input type="text" name="plz" id="plz" />
        <br />
        <label>Ort</label>
        <br />
        <p id="ort"></p>
        <br />
        <select name="plzs" id="addme">

        </select>
        @*<input type="submit" name="senden" value="Senden" />*@

    </fieldset>

   <div id="maps"></div>

    @*</form>*@
</div>